
@font-face {
    font-family: 'AWConquerorSlabLight';
    src: url('../fonts/awconquerorslab-light-webfont.eot');
  	src: local('?'), url('../fonts/awconquerorslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/awconquerorslab-light-webfont.woff') format('woff'),
         url('../fonts/awconquerorslab-light-webfont.ttf') format('truetype'),
         url('../fonts/awconquerorslab-light-webfont.svg#AWConquerorSlabLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
